<%= content_for(:title, "Lessons | LHTP") %>

<% if @lessons.any? %>
  <h3 class="page-header">Here are all of teh lessons:</h3>
  <ul>
    <% @lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.title, lesson_path(lesson) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3 class="page-header">There are no lessons yet :(</h3>
<% end %>
